[color]
        branch = auto
        diff = auto
        status = auto
[alias]
	co = checkout
	ci = duet-commit
	st = status
[push]
	default = simple
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
	pushInsteadOf = git://github.com/
